<% if @tasks.present? %>
  <tr>
    <td><%= link_to task.summary, task %></td>
    <td><%= link_to task.key, "http://jira.rubyruby.ru/browse/#{task.key}" %></td>
    <td><%= task.reporter %></td>
    <td><%= task.assignee %></td>
    <td><%= task.created_at %></td>
    <td><%= task.due_date %></td>
    <td><%= task.status %></td>
    <td><%= task.paid %></td>
    <td><%= task.gross %></td>
    <td><%= task.paid ? task.gross : "" %></td>
  </tr> 
<% end %>