<table align="center" border="1" width = "50%"  cellspacing="0">
  <tr>
    <td align="center" style="background: black"><h2 style="color: #BEBEBE"><%= t("site_name") %></h2></td>
  </tr>
  <tr>
    <td align="center" >
  	  <h3><%= t("hello") %>, <%= @resource.email %>!</h3>
  	  <%= t("devise.mailer.str1")%><%= link_to t('devise.change_password'), edit_password_url(@resource, reset_password_token: @token) %><br/>
  	  <%= t("devise.mailer.str2") %><br/>
  	  <%= t("devise.mailer.str3") %><br/>
  	</td>
  </tr>
</table>

